<!DOCTYPE html>
<html lang="en" ng-app="books">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>books</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <link rel="//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-mocks.js">

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/BooksIndexController.js"></script>
    <script src="/scripts/controllers/BooksShowController.js"></script>

  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Best Books Ever</h1>
        <p>Seriously... best books ever</p>
      </div>
    </div>
<!--
    <div ng-view></div> -->

  </body>

</html>
