<!DOCTYPE html>
<html lang="en" ng-app="booksApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>books</title>

    <!-- STYLESHEETS -->
    <link type="text/css" rel="stylesheet" href="../public/styles/main.css">

    <!-- ANGULAR CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>

     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script type="text/javascript" src="../public/scripts/app.js"></script>
    <script type="text/javascript" src="../public/scripts/controllers/BooksIndexController.js"></script>
    <!-- <script src="/scripts/controllers/BooksShowController.js"></script> -->

    <title>Books App</title>

  </head>

<body>

  <div ng-view></div>

</body>
</html>
